<div class="play">

  <div class="answer"><% if @correctness %>

  <%= "<h3 class='correct'>Fuck yeah! You know your words. </h3>" %>
  <%= "<h3>#{@current_card.word}</h3>" %>

  <% else %>

  <%= "<h3 class='incorrect'>Damn son, you dumb. The real word is...</h3>" %>
  <%= "<h3>#{@current_card.word}</h3>" %>

  <% end %>
  </div>

  <h4><%= @current_card.definition %></h4>

  <form class='next' action='/play/next' method='get'>
    <input class='next-submit' type='submit' value='Next card'/>
  </form>

</div>