<% if @correctness %>

<%= "<h3>Nice! You know your words. </h3>" %>
<%= "<h3 class='correct'>#{@current_card.word}</h3>" %>

<% else %>

<%= "<h3>Sorry, the correct word is...</h3>" %>
<%= "<h3 class='incorrect'>#{@current_card.word}</h3>" %>

<% end %>

<h4><%= @current_card.definition %></h4>

<form action='/play/next' method='get'>
  <input type='submit' value='Next card'/>
</form>
