  <div class="userpage">
  <div class="decks">
    <ul> <h2>Choose a deck, playa</h2>
    <% @decks.each do |deck| %>


      <form action="/play" method="get">
        <button class="deck" type="submit" value="<%=deck.id%>" name="deck_id"><%=deck.name%></button>
        </form>



    <% end %>
    </ul>
  </div>

  <div class="stats">
    <ul><h2>Recent stats</h2>
    <% if @rounds.empty? %>
      No stats yet. Go play some fucking games first.
    <% end %>
    <% @rounds.each do |round| %>
      <% if round.correct + round.incorrect == 5 %>
        <li><%=round.deck.name%>: <%= round.correct %> correct | <%= round.incorrect %> wrong</li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>